        .card {
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 30px;
            margin: 20px;
            border-radius: 15px;
            padding: 30px;
            text-align: center;
            color: #000;
            height: 400px;
            box-shadow: 0 5px 20px rgba(0,0,0,0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card-box {
            border-radius: 15px;
            background-color: #fff;
            padding: 20px;
            font-size: 24px;
        }
        .card-box img {
            width: 100%;
            height: auto;
            border-radius: 15px;
        }