        body {
            background-color: #000;
            color: #fff;
        }

                * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav {
            background-color: #333;
            padding-top: 10px;
            left: 0;
            right: 0;
            overflow: hidden;
            position: fixed;
            top: 0;
            z-index: 1000;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
            }

        nav ul li {
            margin: 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }

        .title {
            color: #fff;
            text-align: center;
            margin-top: 80px;
        }

        .cont-img {
            width: 200px;
            height: 200px;
            border: solid #00bbff;
            border-radius: 50%;
            margin: 50px auto;
            overflow: hidden;
        }

        .cont-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%  ;
            transition: transform 0.3 ease;
        }

        .cont-img:hover {
            transform: scale(1.2);
        }

        .card {
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 30px;
            margin: 20px;
            border-radius: 15px;
            padding: 30px;
            text-align: center;
            color: #000;
            height: 400px;
            box-shadow: 5px 20px rgba(0,0,0,0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card-box {
            border-radius: 15px;
            background-color: #fff;
            padding: 20px;
            font-size: 24px;
        }

        .closer footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
        }

        nav ul li a:hover {
            color: #ffcc00
        }

        button {
            color: white;
            background-color: orange;
        }

        button:hover {
            color: red;
        }
